# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
*.iml
.vscode/

# Android/iOS build artifacts
android/.gradle/
android/local.properties
*.keystore
*.jks
ios/Pods/
ios/.symlinks/

# Crash logs
flutter_*.log
